:root {
    --clr-light: #f0f0f0;
    --clr-dark: #35393b;;
    --clr-primary: #0059ff;
    --clr-accent: #0099ff;
    --clr-secondary: #004776;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}

/* UTILITIES */
.bottom-cut {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-width: 0 0 15vh 100vw;
    border-style: solid;
    border-color: transparent transparent var(--clr-dark) transparent;
}

.up-cut {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-width: 15vh 100vw 0 0;
    border-style: solid;
    border-color: var(--clr-dark) transparent transparent transparent;
}

.wrapper {
    width: clamp(300px, 80%, 1440px);
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 4rem;
}

.title-dark {
    color: var(--clr-dark);
}

.title-light {
    color: var(--clr-light);
}

.accent-text {
    color: var(--clr-primary);
}

/* HOME */
.nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    position: relative;
    z-index: 10;
    width: 4rem;
    border: solid 1px #333;
}

.menu {
    width: 2rem;
    color: var(--clr-dark);
    cursor: pointer;
}

.menu:hover {
    color: var(--clr-primary);
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--clr-light);
}

.hero-image {
    color: var(--clr-dark);
    text-align: left;
}

.presentation {
    font-weight: 700;
    font-size: 5.1vw;
}

/* ABOUT ME */
.about-me {
    position: relative;
    background-color: var(--clr-dark);
    padding: 4rem 2rem;
    text-align: center;
    color: var(--clr-light);
}

.about-me__text {
    font-size: 1.5rem;
}

/* PROJECTS */
.projects {
    position: relative;
    background-color: var(--clr-light);
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.grid-container {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    width: clamp(300px, 80%, 1440px);
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* SKILLS */
.skills {
    background-color: var(--clr-dark);
    text-align: center;
    padding-top: 1rem;
}

